#creatorContent {
    width: 1200px;
    height: 600px;
    margin-top: 10px;
    background-color: white;
    box-shadow: 0 0 2px 2px #ECECEC;
    padding-bottom: 100px;
    border-radius: 15px;
}

.creatorMainTitle {
    padding-top: 25px;
    padding-left: 55px;
    margin-bottom: 25px;
    font-size: x-large;
    font-weight: 900;
}

#creatorContent ul li {
    width: 200px;
    height: 150px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 15px;
    margin-right: 10px;
    margin-bottom: 25px;
    background-color: #F9F9FB;
    border-radius: 5px;
    list-style: none;
    float: left;
}

.creatorTitle {
    font-size: larger;
    line-height: 48px;
}

.creatorNumber {
    font-size: xx-large;
    line-height: 48px;
    font-style: italic;
    font-weight: 900;
    color: #056DE8;
}
