* {
	margin: 0 auto;
}

body {
	background-color: #F6F6F6;
}

#navBar {
	background-color: white;
	box-shadow:       0 0 2px 2px #ECECEC;
	height:           50px;
	padding-bottom:   10px;
	padding-top:      10px;
	width:            100%;
}

#navBar ul {
	height: 50px;
	margin: 0 auto;
	width:  1000px;
}

#navBar ul li {
	float:        left;
	font-size:    large;
	list-style:   none;
	margin-left:  25px;
	margin-right: 25px;
	padding-top:  10px;
}

.navBarCommonItem a {
	color:           #8590A6;
	line-height:     40px;
	padding-bottom:  10px;
	text-decoration: none;
}

.navBarCommonItem a:hover {
	color: black;
}

#navBarSearchBox {
	border:        #ECECEC solid 2px;
	border-radius: 25px;
	font-size:     14px;
	height:        40px;
	margin-right:  10px;
	padding-left:  10px;
	width:         200px;
}

#navBarSearchButton {
	background-color: #ECECEC;
	border:           #ECECEC solid 2px;
	border-radius:    25px;
	height:           40px;
	margin-left:      10px;
	width:            60px;
}

.contentCategory {
	background-color: #E5F0FD;
	border:           #056DE8 1px solid;
	border-radius:    5px;
	color:            #056DE8;
	line-height:      50px;
	padding:          3px 6px;
}

#pageLayoutList {
	margin: 0 auto;
	width:  1200px;
}

#pageLayoutList ul li {
	float:      left;
	list-style: none;
}

#mainContent {
	background-color: #F6F6F6;
	height:           1200px;
	margin-top:       100px;
	width:            100%;
}

#bottomLine {
	color:      #646464;
	text-align: center;
}

.contentLikeNumber {
	background-color: #E5F0FD;
	border:           #056DE8 1px solid;
	border-radius:    5px;
	color:            #056DE8;
	line-height:      50px;
	margin-right:     10px;
	padding:          6px 10px;
}

.contentLikeNumber:hover {
	background-color: #DAE9FC;
}

#homePageSecondContent {
	background-color: white;
	border-radius:    15px;
	box-shadow:       0 0 2px 2px #ECECEC;
	height:           475px;
	margin-top:       10px;
	text-align:       center;
	width:            300px;
}

#homePageSecondContent img {
	width: 30%;
}

#creatorCenterTitle {
	font-size: x-large;
}

#creatorCenterSecondTitle {
	font-size: medium;
}

#creatorCenterSecondContent {
	color:     #056DE8;
	font-size: medium;
}

#activityButton li {
	float:        left;
	margin-right: 2px;
	width:        55px;
}

#activityButton li img {
	width: 40%;
}

#activityButton li p {
	font-size: x-small;
}

#bigDataNumber {
	background-color: #F9F9FA;
	height:           80px;
	margin-top:       50px;
	padding-top:      15px;
	width:            200px;
}

#bigDataNumber li {
	float: left;
	width: 50px;
	/*margin-right: 25px;*/
}

#bigDataNumber li p {
	line-height: 32px;
}

.bigDataTitle {
	color:     #8893A8;
	font-size: small;
}

.bigDataContent {
	color:         black;
	font-size:     large;
	margin-bottom: 25px;
}

#enterCreatorCenter {
	/*padding: 10px 50px;*/
	background-color: #E5F0FD;
	border:           #056DE8 1px solid;
	border-radius:    10px;
	width:            200px;
}

#enterCreatorCenter:hover {
	background-color: #DAE9FC;
}

#enterCreatorCenter a {
	color:           #056DE8;
	font-size:       medium;
	line-height:     50px;
	text-decoration: none;
}

#enterCreatorCenter a:hover {
	color: #056DE8;
}