* {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin:      0 auto;
}

body {
	background-color: #F6F6F6;
}

a {
	text-decoration: none;
}

#navBar {
	background-color: white;
	border-radius:    10px;
	box-shadow:       0 0 2px 2px #ECECEC;
	height:           50px;
	margin-top:       7px;
	padding-bottom:   6px;
	width:            1400px;
}

#navBar ul {
	height: 50px;
	margin: 0 auto;
	width:  1000px;
}

#navBar ul li {
	float:        left;
	font-size:    large;
	list-style:   none;
	margin-left:  25px;
	margin-right: 25px;
	padding-top:  10px;
}

.navBarCommonItem a {
	color:           #8590A6;
	line-height:     40px;
	padding-bottom:  10px;
	text-decoration: none;
}

.navBarCommonItem a:hover {
	color: black;
}

#navBarSearchBox {
	border:        #ECECEC solid 2px;
	border-radius: 25px;
	font-size:     14px;
	height:        40px;
	margin-right:  10px;
	padding-left:  10px;
	width:         200px;
}

#navBarSearchButton {
	background-color: #ECECEC;
	border:           #ECECEC solid 2px;
	border-radius:    25px;
	height:           40px;
	margin-left:      10px;
	width:            60px;
}

.contentCategory {
	background-color: #E5F0FD;
	/* border:           #056DE8 1px solid; */
	border-radius:    5px;
	color:            #056DE8;
	line-height:      50px;
	padding:          3px 6px;
}

#pageLayoutList {
	margin: 0 auto;
	width:  1200px;
}

#pageLayoutList ul li {
	float:      left;
	list-style: none;
}

#mainContent {
	background-color: #F6F6F6;
	height:           1200px;
	margin-top:       100px;
	width:            100%;
}

#bottomLine {
	color:      #646464;
	text-align: center;
}

.contentLikeNumber {
	background-color: #E5F0FD;
	/* border:           #056DE8 1px solid; */
	border-radius:    5px;
	color:            #056DE8;
	line-height:      50px;
	margin-right:     10px;
	padding:          6px 10px;
}

.contentLikeNumber:hover {
	background-color: #DAE9FC;
}

#homePageSecondContent {
	background-color: white;
	border-radius:    10px;
	box-shadow:       0 0 2px 2px #ECECEC;
	height:           475px;
	margin-top:       10px;
	text-align:       center;
	width:            300px;
}

#homePageSecondContent img {
	padding-top: 15px;
	width:       30%;
}

#creatorCenterTitle {
	font-size: x-large;
}

#creatorCenterSecondTitle {
	font-size: medium;
}

#creatorCenterSecondContent {
	color:     #056DE8;
	font-size: medium;
}

#activityButton li {
	float:        left;
	margin-right: 2px;
	width:        55px;
}

#activityButton li img {
	width: 40%;
}

#activityButton li p {
	font-size: x-small;
}

#bigDataNumber {
	background-color: #F9F9FA;
	height:           80px;
	margin-top:       50px;
	padding-top:      15px;
	width:            200px;
}

#bigDataNumber li {
	float: left;
	width: 50px;
	/*margin-right: 25px;*/
}

#bigDataNumber li p {
	line-height: 32px;
}

.bigDataTitle {
	color:     #8893A8;
	font-size: small;
}

.bigDataContent {
	color:          black;
	font-size:      large;
	letter-spacing: -1px;
	margin-bottom:  25px;
}

#enterCreatorCenter {
	/*padding: 10px 50px;*/
	background-color: #E5F0FD;
	/* border:           #056DE8 1px solid; */
	border-radius:    10px;
	width:            200px;
}

#enterCreatorCenter:hover {
	background-color: #DAE9FC;
}

#enterCreatorCenter a {
	color:           #056DE8;
	font-size:       medium;
	line-height:     50px;
	text-decoration: none;
}

#enterCreatorCenter a:hover {
	color: #056DE8;
}

.enterButton {
	-webkit-appearance: button;
	background-color:   #056DE8;
	border:             none;
	border-radius:      5px;
	color:              white;
	cursor:             pointer;
	font-size:          larger;
	height:             50px;
	margin-right:       5px;
	width:              200px;
}

.contentNickName {
	vertical-align: 7px;
}

.contentMotto {
	vertical-align: 7px;
}

.postMainContent {
	margin-left: 50px;
}

.enterPostTitle {
	border:         solid #8590A6 1px;
	border-radius:  5px;
	font-size:      large;
	height:         30px;
	margin-bottom:  30px;
	padding-bottom: 10px;
	padding-left:   10px;
	padding-top:    8px;
	width:          675px;
}

.enterPostContent {
	border:         solid #8590A6 1px;
	border-radius:  5px;
	font-size:      large;
	height:         400px;
	margin-bottom:  30px;
	padding-bottom: 10px;
	padding-left:   10px;
	padding-top:    10px;
	width:          675px;
}

.contentTitle {
	color: black;
}

.contentTitle:hover {
	color: #056DE8;
}

.commentPart {
	padding-left:  65px;
	padding-right: 65px;
}

.commentAvatar {
	padding-top: 10px;
	width:       4%;
}

.commentNickName {
	font-size:      medium;
	padding-left:   5px;
	vertical-align: 7px;
}

.commentContent {
	font-size:   small;
	line-height: 20px;
}

.commentLikeNumber {
	background-color: #E5F0FD;
	border-radius:    5px;
	color:            #056DE8;
	line-height:      50px;
	margin-right:     10px;
	padding:          5px 8px;
}

.commentLikeNumber:hover {
	background-color: #DAE9FC;
}