<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
    <form action="checkLogin" method="post">
        <div>
            <label>
                用户名：
                <input type="text" th:name="userName" maxlength="10"/>
            </label>
        </div>
        <div>
            <label>
                密码：
                <input type="password" th:name="password" maxlength="16"/>
            </label>
        </div>
        <div>
            <input type="submit" th:value="登陆"/>
        </div>
    </form>
</body>
</html>