#otherInfo {
    position: fixed;
    top: 150px;
    width: 250px;
    height: 1200px;
    background-color: #F9F8F6;
}

#tableNumber {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #DCDCDC;
    font-size: 20px;
    padding-left: 10px;
}

#otherInfo ul {
    list-style: none;
    height: 20px;
    padding: 0 55px;
}

#otherInfo ul li {
    padding-top: 8px;
}

#otherInfo ul li a {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

#otherInfo ul li a:hover {
    text-decoration: underline;
}

#foodDetails {
    margin-top: 125px;
    margin-left: 225px;
    width: 925px;
    padding-top: 16px;
    padding-left: 50px;
}

#foodDetails ul li {
    float: left;
    list-style: none;
    margin-right: 20px;
    margin-bottom: 20px;
}

.sub_title {
    font-size: 32px;
    font-weight: bold;
}

.foodDetailsImage {
    width: 250px;
    height: 250px;
}

.foodDetailsText {
    width: 250px;
    height: 100px;
    font-size: 14px;
    line-height: 10px;
}


.foodDetailsText a {

    padding: 10px 20px;
    color: white;
    text-decoration: none;
    background-color: #D12D35;
    border-radius: 20px;
}

.foodDetailsText a:hover {
    text-decoration: underline;
}

#submitInfo {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    background-color: #D12D35;
    margin-left: 10px;
    color: white;
    border: none;
}

#submitInfo:hover {
    text-decoration: underline;
}


