<!DOCTYPE html>
<html lang="en" xmlns="">
<head>
    <meta charset="UTF-8">
    <title>KFC购物车</title>
    <link rel="stylesheet" type="text/css" href="Gwc_1.css">
    <link rel="stylesheet" type="text/css" href="Gwc_2.css">
</head>
<body>
    <div id="navBar">
        <ul>
            <li><a href="#" style="font-family: Impact, Helvetica, serif; font-size: 24px"><b>Kentucky Fried Chicken</b></a></li>
            <li><a href="Hqyhxx.html">开始点单</a></li>
            <li><a href="Yhdc.html">菜单</a></li>
            <li><a href="Gwc.html"><b>购物车</b></a></li>
            <li><a href="#">关于KFC</a></li>
            <li><a href="#">查找KFC</a></li>
            <li><a href="#">商城</a></li>
            <li><a href="Wcdc.html" id="finish_order">完成点单</a></li>
        </ul>
    </div>


    <div id="mainTitle">
        <p>以下是已经添加到购物车的商品</p>
    </div>

    <div id="orderInfo">
        <div id="otherInfo">
            <ul>
                <li><a><b>点餐人数</b></a></li>
                <li><a>2人</a></li>
                <br>
                <br>
                <li><a><b>点餐桌号</b></a></li>
                <li><a>B814</a></li>
                <br>
                <br>
            </ul>
        </div>

        <div id="addedFood">
            <table>
                <tr>
                    <td class="rankNum"><b>序号</b></td>
                    <td class="foodImage"><b>图片</b></td>
                    <td class="foodName"><b>商品名称</b></td>
                    <td class="foodPrice"><b>价格</b></td>
                    <td class="foodQuantity"><b>数量</b></td>
                    <td class="foodOperation"><b>操作</b></td>
                </tr>
                <tr>
                    <td class="rankNum">1</td>
                    <td class="foodImage"><img src="../../assets/kfc-TendersBucketForOne.png"></td>
                    <td class="foodName">BucketForOne</td>
                    <td class="foodPrice">¥49.99</td>
                    <td class="foodQuantity">2</td>
                    <td class="foodOperation">
                        <a href="#">+</a>
                        <br>
                        <br>
                        <a href="#">-</a>
                    </td>
                </tr>
                <tr>
                    <td class="rankNum">2</td>
                    <td class="foodImage"><img src="../../assets/kfc-TendersBucketForOne.png"></td>
                    <td class="foodName">BucketForOne</td>
                    <td class="foodPrice">¥49.99</td>
                    <td class="foodQuantity">2</td>
                    <td class="foodOperation">
                        <a href="#">+</a>
                        <br>
                        <br>
                        <a href="#">-</a>
                    </td>
                </tr>
                <tr>
                    <td class="rankNum">3</td>
                    <td class="foodImage"><img src="../../assets/kfc-TendersBucketForOne.png"></td>
                    <td class="foodName">BucketForOne</td>
                    <td class="foodPrice">¥49.99</td>
                    <td class="foodQuantity">2</td>
                    <td class="foodOperation">
                        <a href="#">+</a>
                        <br>
                        <br>
                        <a href="#">-</a>
                    </td>
                </tr>
                <tr>
                    <td class="rankNum">4</td>
                    <td class="foodImage"><img src="../../assets/kfc-TendersBucketForOne.png"></td>
                    <td class="foodName">BucketForOne</td>
                    <td class="foodPrice">¥49.99</td>
                    <td class="foodQuantity">2</td>
                    <td class="foodOperation">
                        <a href="#">+</a>
                        <br>
                        <br>
                        <a href="#">-</a>
                    </td>
                </tr>
                <tr>
                    <td class="rankNum">5</td>
                    <td class="foodImage"><img src="../../assets/kfc-TendersBucketForOne.png"></td>
                    <td class="foodName">BucketForOne</td>
                    <td class="foodPrice">¥49.99</td>
                    <td class="foodQuantity">2</td>
                    <td class="foodOperation">
                        <a href="#">+</a>
                        <br>
                        <br>
                        <a href="#">-</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>


</body>
</html>