#addedFood {
    margin-top: 125px;
    margin-left: 225px;
    width: 925px;
    padding-top: 16px;
    padding-left: 50px;
}

table {
    width: 96%;
    margin-top: 40px;
    text-align: center;
    line-height: 32px;
}

table td{
    border-bottom: solid black;
}

table .rankNum{width: 50px;}
table .foodImage {width: 220px;}
table .foodName {width: 200px;}
table .foodPrice {width: 100px;}
table .foodQuantity {width: 50px;}
table .foodOperation {width: 100px;}
table .foodOperation a{
    padding: 10px 20px;
    text-decoration: none;
    background-color: #D12D35;
    border-radius: 50px;
    color: white;
    font-size: 24px;
}
table .foodOperation a:hover{
    text-decoration: underline;
}
table img{
    width: 200px;
    height: 200px;
}

