<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>开始点单</title>
    <link rel="stylesheet" type="text/css" href="Hqyhxx_1.css">
</head>
<body>
    <div id="navBar">
        <ul>
            <li><a href="#" style="font-family: Impact, Helvetica, serif; font-size: 24px"><b>Kentucky Fried Chicken</b></a></li>
            <li><a href="Hqyhxx.html"><b>开始点单</b></a></li>
            <li><a href="Yhdc.html">菜单</a></li>
            <li><a href="Gwc.html">购物车</a></li>
            <li><a href="#">关于KFC</a></li>
            <li><a href="#">查找KFC</a></li>
            <li><a href="#">商城</a></li>
            <li><a href="Wcdc.html" id="finish_orders">完成点单</a></li>
        </ul>
    </div>

    <div id="mainTitle">
        <p>请输入您的信息</p>
    </div>
</body>
</html>