<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KFC菜单</title>
    <link rel="stylesheet" type="text/css" href="Yhdc_1.css">
    <link rel="stylesheet" type="text/css" href="Yhdc_2.css">
</head>
<body>
    <div id="navBar">
        <ul>
            <li><a href="#" style="font-family: Impact, Helvetica, serif; font-size: 24px"><b>Kentucky Fried Chicken</b></a></li>
            <li><a href="Hqyhxx.html">开始点单</a></li>
            <li><a href="Yhdc.html"><b>菜单</b></a></li>
            <li><a href="Gwc.html">购物车</a></li>
            <li><a href="#">关于KFC</a></li>
            <li><a href="#">查找KFC</a></li>
            <li><a href="#">商城</a></li>
            <li><a href="Wcdc.html" id="finish_order">完成点单</a></li>
        </ul>
    </div>

    <div id="mainTitle">
        <p>请选择你想要吃的东西</p>
    </div>

    <div id="orderPart">
        <div id="otherInfo">
            <ul>
                <li><a href="#hot_sale">人气热卖</a></li>
                <li><a href="#single">单人餐</a></li>
                <li><a href="#multi">多人餐</a></li>
                <li><a href="#">全鸡</a></li>
                <li><a href="#">炸鸡小食</a></li>
                <li><a href="#">汉堡卷</a></li>
                <li><a href="#">米饭</a></li>
                <li><a href="#">饮品</a></li>
                <li><a href="#">咖啡</a></li>
                <li><a href="#">配餐</a></li>
                <li><a href="#">蛋挞烘焙</a></li>
                <li><a href="#">冰淇淋</a></li>
                <li><a href="#">儿童餐</a></li>
                <li><a href="#">自在厨房</a></li>
            </ul>
        </div>

        <div id="foodDetails">
            <ul>
                <li>
                    <p class="sub_title" id="hot_sale">人气热卖</p>
                    <ul>
                        <li>
                            <img src="../../assets/kfc-3pcBox2B1W.jpeg" class="foodDetailsImage">
                            <div class="foodDetailsText">
                                <p>Sides Lovers 8 pc. Chicken Meal</p>
                                <p>卡路里：2580-5640千卡</p>
                                <p>价格：¥49.99</p>
                                <br>
                                <a href="#">加入购物车</a>
                            </div>
                        </li>
                        <li>
                            <img src="../../assets/kfc-5TenderCombo.png" class="foodDetailsImage">
                            <div class="foodDetailsText">
                                <p>Sides Lovers 8 pc. Chicken Meal</p>
                                <p>卡路里：2580-5640千卡</p>
                                <p>价格：¥49.99</p>
                                <br>
                                <a href="#">加入购物车</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <p class="sub_title" id="single">单人餐</p>
                    <ul>
                        <li>
                            <img src="../../assets/kfc-8pcBucket&8TendersBucket.png" class="foodDetailsImage">
                            <div class="foodDetailsText">
                                <p>Sides Lovers 8 pc. Chicken Meal</p>
                                <p>卡路里：2580-5640千卡</p>
                                <p>价格：¥49.99</p>
                                <br>
                                <a href="#">加入购物车</a>
                            </div>
                        </li>
                        <li>
                            <img src="../../assets/kfc-8pcTendersMeal.png" class="foodDetailsImage">
                            <div class="foodDetailsText">
                                <p>Sides Lovers 8 pc. Chicken Meal</p>
                                <p>卡路里：2580-5640千卡</p>
                                <p>价格：¥49.99</p>
                                <br>
                                <a href="#">加入购物车</a>
                            </div>
                        </li>
                        <li>
                            <img src="../../assets/kfc-10pcfeast.png" class="foodDetailsImage">
                            <div class="foodDetailsText">
                                <p>Sides Lovers 8 pc. Chicken Meal</p>
                                <p>卡路里：2580-5640千卡</p>
                                <p>价格：¥49.99</p>
                                <br>
                                <a href="#">加入购物车</a>
                            </div>
                        </li>
                        <li>
                            <img src="../../assets/kfc-cknsndcombo.png" class="foodDetailsImage">
                            <div class="foodDetailsText">
                                <p>Sides Lovers 8 pc. Chicken Meal</p>
                                <p>卡路里：2580-5640千卡</p>
                                <p>价格：¥49.99</p>
                                <br>
                                <a href="#">加入购物车</a>
                            </div>
                        </li>
                        <li>
                            <img src="../../assets/kfc-FamousBowlFillUp.png" class="foodDetailsImage">
                            <div class="foodDetailsText">
                                <p>Sides Lovers 8 pc. Chicken Meal</p>
                                <p>卡路里：2580-5640千卡</p>
                                <p>价格：¥49.99</p>
                                <br>
                                <a href="#">加入购物车</a>
                            </div>
                        </li>
                    </ul>
                </li>


                <li>
                    <p class="sub_title" id="multi">双人餐</p>
                    <ul>
                        <li>
                            <img src="../../assets/kfc-sandwichandsidesmeal.png" class="foodDetailsImage">
                            <div class="foodDetailsText">
                                <p>Sides Lovers 8 pc. Chicken Meal</p>
                                <p>卡路里：2580-5640千卡</p>
                                <p>价格：¥49.99</p>
                                <br>
                                <a href="#">加入购物车</a>
                            </div>
                        </li>
                        <li>
                            <img src="../../assets/kfc-sandwichandtendersmeal.png" class="foodDetailsImage">
                            <div class="foodDetailsText">
                                <p>Sides Lovers 8 pc. Chicken Meal</p>
                                <p>卡路里：2580-5640千卡</p>
                                <p>价格：¥49.99</p>
                                <br>
                                <a href="#">加入购物车</a>
                            </div>
                        </li>
                        <li>
                            <img src="../../assets/kfc-sidesloversCOBmeal.png" class="foodDetailsImage">
                            <div class="foodDetailsText">
                                <p>Sides Lovers 8 pc. Chicken Meal</p>
                                <p>卡路里：2580-5640千卡</p>
                                <p>价格：¥49.99</p>
                                <br>
                                <a href="#">加入购物车</a>
                            </div>
                        </li>
                        <li>
                            <img src="../../assets/kfc-sidesloverstendersmeal.png" class="foodDetailsImage">
                            <div class="foodDetailsText">
                                <p>Sides Lovers 8 pc. Chicken Meal</p>
                                <p>卡路里：2580-5640千卡</p>
                                <p>价格：¥49.99</p>
                                <br>
                                <a href="#">加入购物车</a>
                            </div>
                        </li>
                        <li>
                            <img src="../../assets/kfc-TendersBucketForOne.png" class="foodDetailsImage">
                            <div class="foodDetailsText">
                                <p>Sides Lovers 8 pc. Chicken Meal</p>
                                <p>卡路里：2580-5640千卡</p>
                                <p>价格：¥49.99</p>
                                <br>
                                <a href="#">加入购物车</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</body>
</html>