#schoolImgPart{
    margin: 0 auto;
    width: 720px;
    height: 240px;
}

#schoolImg{
    width: 720px;
    height: 240px;
}

#headline {
    margin: 0 auto;
    color: #005599;
    text-align: center;
    width: 1000px;
}

#author {
    margin: 0 auto;
    width: 1000px;
    text-align: center;
}

#mainInfo {
    margin: 0 auto;
    width: 720px;
}

#specialSymbol {
    text-decoration: none;
    color: red;
}

#schoolList {
    line-height: 32px;
}