#bannerImg {
    padding-top: 0;
    text-align: center;
    width: 100%;
    height: 86px;
    background-color: #00a0d8;
}

#registerTitle {
    text-align: center;
}

#formPart {
    text-align: center;
}

.customLabelMargin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.customLabelStyle {
    width: 300px;
    height: 30px;
}