#bannerImg {
    padding-top: 0;
    text-align: center;
    width: 100%;
    height: 86px;
    background-color: #00a0d8;
}

#registerTitle {
    text-align: center;
}

#messageBox {
    text-align: center;
}