#topTitle {
    margin: 0 auto;
    width: 1000px;
    height: 100px;
    line-height: 100px;
    color: #1869A8;
}

#navBar {
    width: 1000px;
    height: 60px;
    margin: 0 auto;
    background: #1869A8;
}
#navBar ul {
    padding-left: 15px;
}
#navBar ul li {
    float: left;
    list-style: none;
    width: 72px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: medium;
}
#navBar ul li .last {
    border-right: none;
}
#navBar ul li a {
    color: white;
    text-decoration: none;
}
#navBar ul li a:hover {
    color:white;
    text-decoration: underline;
}

#mainImage {
    width: 1000px;
    height: 450px;
    margin: 0 auto;
}